*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.726);
}
.button{
padding: 20px;
margin: 0 3px;
border: 3px solid orange;
border-radius: 9px;
cursor: pointer;
font-size: 25px;
width: 66px;
background-color: orange;
font-weight: 800;
}
.row{
    margin: 8px 0;
}